<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuyr757.mapper.StudentMapper">

    <select id="selectForList" resultMap="studentMap">
        select * from student
    </select>

    <resultMap id="studentMap" type="student">
        <result property="tid" column="teacher_id"/>
    </resultMap>

</mapper>